section, ul{
    all: unset;
}

.header{
    text-align: center;
}

.container{
    display: flex;
    width: 66.5%;
}

.gridContainer, .buttonContainer{
    flex: 1;
}

.gridContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    margin: 0px auto 0px auto;
}

.col{
    background-color: #d4d4d4;
    flex: 1;
    height: 36px;
    border: solid 2px black;
}

.line{
    display: flex;
    flex: 1;
    width: 640px;
}

.colorToggle{
    background-color: #d4d4d4;
    flex: 2;
    border: 1px solid black;
    margin: 0px auto 0px auto;
    width: 80%;
}

.colorHeader{
    text-align: center;
}

.colorContainer{
    display: flex;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

li{
    display: flex;
    margin: 1em 0 1em 0;
}

input{
    margin: 0px;
    margin-left: 15px;
}

.colorValue{
    margin-left: 2em;
}

.display{
    flex: 1;
    height: 6em;
    margin: auto 3.18178125em auto 3.18178125em;
    border: 1px solid black;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px auto 100px auto;
}

.eraser,.clear{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0px auto 0px auto;
    border: solid 1px black;
    border-radius: 0;
    font-size: xx-large;
    background-color: #d4d4d4;
}

.activeEraser{
    background-color: #848785;
}

.eraser{
    margin-top: 150px;
}

.clear{
    margin-bottom: 150px;
}